/*------------------------------------------------------------
header
------------------------------------------------------------*/
.c-header {
    $root: &;
    background: linear-gradient(90deg, rgba(255,204,50,1) 0%, rgba(255,204,50,1) 5%, rgba(255,204,50,1) 38%, rgba(97,96,96,1) 100%);
    .l-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav {
        
    }
    &__list {
        display: flex;
        height: 80px;
        align-items: center;
    }
    &__item {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.5;
        font-weight: 600;
        padding: 0 10px;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;
        display: inline-block;

        @include hover() {
            color: black;
            #{$root}__child {
                transition: 0.3 ease-in;
                opacity: 1;
                display: block;
                color: black;
                &__item {
                    // background: linear-gradient(90deg, rgb(97, 96, 96) 0%, rgb(255, 204, 50) 5%, rgb(255, 204, 50) 38%, rgb(255, 204, 50) 100%);
                }
            }
        }
        #{$root}__child {
            border-radius: 3px;
            opacity: 0;
            width: 300px;
            display: block;
            position: absolute;
            background: linear-gradient(90deg, rgb(255, 204, 50) 0%, rgb(255, 204, 50) 5%, rgb(255, 204, 50) 38%, rgb(97, 96, 96) 100%);
            box-shadow: 0 0 2px rgb(0 0 0 / 10%), 0 20px 40px rgb(0 0 0 / 18%);
            top: 65px;
            &__item {
                transition: background-color 1000ms linear;
                padding: 10px;
                border-bottom: 1px solid #eee;
                a {
                    transition: 0.3s all;
                    text-decoration: none;
                    color: #ffffff;
                }
                @include hover() {
                    // background: #f5f5f5;
                   a {
                    color: black;
                   }
                }
            }
        }
        &__services {
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
        }
        &__abouts {
            height: 100%;
            display: flex;
            align-items: center;
        }
        &:not(:first-child) {
            margin-left: 20px;
        }
        &:last-child {
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;
            margin-left: 0;
            padding-left: 20px;
            height: 100%;
            @include hover() {
                #{$root}__search {
                    display: block;
                }
            }
            i {
                color: #ffffff;
                font-size: 1.7rem;
                display: flex;
                align-items: center;
            }
        }
        i {
            margin: 0 6px;
        }
    }
    &__link {
        color: black;
        text-decoration: none;
        font-weight: 700;
        color: #ffffff;
        font-size: 1.6rem;
        text-transform: uppercase;
    }
    &__search {
        display: none;
        position: absolute;
        bottom: -20px;
        right: -10px;
        transition: 0.3 ease-in;
        input {
            padding: 0 15px;
            border: 1px solid #cccccc;
            font-size: 1.5rem;
            font-weight: 500;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            border-right: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
    &__btnSearch {
        border: 1px solid #cccccc;
        padding: 12px 20px;
        font-size: 1.8rem;
        cursor: pointer;
        border-left: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        i {
            color: black !important;
        }
    }
    &__form {
        display: flex;
    }
}