@import url(https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@200;300;400;500;600;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@300;400;500;600;700;800;900&display=swap);
@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans Lao", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

table,
input,
textarea,
select,
option {
  line-height: 1.1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a {
  transition: 0.3s ease-in-out;
}

a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

form label {
  cursor: pointer;
}

/*-------------------------------------------
Base width
-------------------------------------------*/
/*------------------------------------------------------------
for develop
------------------------------------------------------------*/
#__bs_notify__ {
  opacity: 0.3 !important;
  font-size: 5px !important;
  line-height: 100% !important;
  padding: 0 5px 0 5px !important;
  border-radius: 0 !important;
}

.c-dev-title1 {
  background: #000;
  color: #fff;
  line-height: 1;
  padding: 6px 0 6px 15px;
  font-size: 1.6rem;
  margin: 60px 0 20px 0;
}

.c-dev-title2 {
  background: #888;
  color: #fff;
  line-height: 1;
  padding: 6px 0 6px 30px;
  font-size: 1.3rem;
  margin: 50px 0 10px 0;
}

.c-dev-message1 {
  top: 0;
  left: 0;
  background: #f00;
  color: #fff;
  z-index: 9999;
  position: fixed;
  line-height: 1;
  padding: 3px 6px;
  opacity: 0.6;
  font-size: 8px;
}

@media screen and (min-width: 768px) {
  .sp-only {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .pc-only {
    display: none !important;
  }
}
img {
  max-width: 100%;
  height: auto;
}

/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.c-breadcrumb__item {
  display: block;
  padding: 0 20px;
  position: relative;
  font-weight: 500;
}
.c-breadcrumb__item:not(:last-child)::after {
  content: "›";
  font-size: 2.5rem;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 0.8;
  color: #fff;
}
.c-breadcrumb__item:last-child {
  display: inline-block;
  width: 280px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.c-breadcrumb__link {
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.c-breadcrumb__txt {
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

/*------------------------------------------------------------
layout
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
body {
  font-family: "Noto Sans Lao", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 320px;
  font-size: 1.6rem;
  font-weight: 400;
}

/*
------------------------------------------------------------*/
.l-content {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .l-content {
    max-width: 100%;
    padding: 0 20px;
  }
}

/*
------------------------------------------------------------*/
.l-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

/*------------------------------------------------------------
side
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-footer {
  padding: 80px 0 20px 0;
  background-color: #27437c;
}
@media screen and (max-width: 767px) {
  .c-footer {
    padding: 30px 0 10px 0;
  }
}
.c-footer__inner {
  display: flex;
  color: #fff;
  margin-left: -30px;
}
@media screen and (max-width: 767px) {
  .c-footer__inner {
    margin-left: 0;
    flex-wrap: wrap;
  }
}
.c-footer__item {
  width: 28%;
  padding-left: 30px;
}
@media screen and (max-width: 767px) {
  .c-footer__item {
    margin-top: 20px;
    width: 100%;
    padding-left: 0;
  }
}
.c-footer__item:first-child {
  width: 44%;
}
@media screen and (max-width: 767px) {
  .c-footer__item:first-child {
    width: 100%;
  }
}
.c-footer__tlt {
  font-size: 2rem;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .c-footer__tlt {
    font-size: 1.8rem;
    margin-bottom: 15px;
    line-height: 1.4;
  }
}
.c-footer__list {
  color: #fff;
  display: flex;
  flex-direction: column;
}
.c-footer__item1 {
  line-height: 1.5;
  margin-bottom: 10px;
  font-size: 1.6rem;
}
.c-footer__item1__tlt {
  font-size: 1.6rem;
}
.c-footer__item1__txt {
  font-weight: 600;
}
.c-footer__item1 a {
  color: #fff;
  text-decoration: none;
}
.c-footer__item1 a i {
  color: #fff;
}
.c-footer__icon__txt {
  color: #fff;
}
.c-footer__list1 {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  padding-left: 15px;
}
.c-footer__list1__item {
  margin-bottom: 10px;
  font-size: 1.6rem;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .c-footer__list1__item {
    margin-bottom: 6px;
  }
}
.c-footer__list1 a {
  color: #fff;
  text-decoration: none;
}
.c-footer address {
  display: block;
  font-size: 1.6rem;
  font-style: normal;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .c-footer address {
    margin-bottom: 0;
  }
}
.c-footer address span {
  line-height: 1.5;
  display: block;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .c-footer address span {
    font-size: 1.6rem;
    text-align: justify;
  }
}
.c-footer__copyright {
  margin-top: 50px;
  color: #fff;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .c-footer__copyright {
    margin-top: 20px;
  }
}
.c-footer__copyright::before {
  margin-bottom: 20px;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

/*------------------------------------------------------------
header
------------------------------------------------------------*/
.c-header {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  top: 0;
  z-index: 999;
  background: #ffffff;
}
.c-header .l-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .c-header .l-container {
    height: 100%;
    padding: 0;
  }
}
.c-header .is-choose {
  color: #052055;
  opacity: 0.6;
}
.c-header--style1 {
  background: linear-gradient(90deg, rgb(50, 255, 198) 0%, rgb(50, 154, 255) 45%, rgb(63, 140, 232) 100%);
}
.c-header--style1 .c-header__link {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .c-header--style1 .c-header__link {
    color: #1E1666;
  }
}
@media screen and (max-width: 767px) {
  .c-header {
    height: 60px;
    background: #ffffff;
  }
}
.c-header.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background: #ffffff;
}
.c-header.fixed .c-header__link {
  color: #1E1666;
}
.c-header__list {
  display: flex;
  height: 80px;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .c-header__list {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    padding-top: 75px;
  }
}
.c-header__item {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: auto;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .c-header__item {
    height: auto;
    font-size: 1.6rem;
    padding: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    text-align: left;
  }
}
.c-header__item:not(:first-child) {
  margin-left: 8px;
}
@media screen and (max-width: 767px) {
  .c-header__item:not(:first-child) {
    margin-left: 0;
  }
}
.c-header__item i {
  margin: 0 6px;
}
.c-header__item--style1 {
  height: 40px;
}
@media screen and (max-width: 767px) {
  .c-header__item--style1 {
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .c-header__item--style1 > a {
    border-bottom: 1px solid #ccc;
  }
}
@media screen and (max-width: 767px) {
  .c-header__item--style1 a {
    color: #1E1666;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
  }
}
@media screen and (min-width: 768px) {
  .c-header__item--style1:hover .c-header__child {
    display: block;
  }
}
.c-header__item .c-header__child {
  position: absolute;
  display: none;
  width: 250px;
  background-color: #ffffff;
  top: 40px;
  right: 0;
  padding: 10px 0;
  z-index: 8;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
@media screen and (max-width: 767px) {
  .c-header__item .c-header__child {
    position: static;
    opacity: 1;
    width: 100%;
    padding: 0;
    border-left: 5px solid #1E1666;
    border-radius: 0;
    display: block;
  }
}
.c-header__item .c-header__child__item {
  border-bottom: 1px solid #ccc;
}
@media screen and (max-width: 767px) {
  .c-header__item .c-header__child__item {
    border-style: dotted;
    line-height: 1.5;
    padding-left: 40px;
  }
}
@media screen and (max-width: 767px) {
  .c-header__item .c-header__child__item:last-child {
    border-bottom: 0;
  }
}
.c-header__item .c-header__child__item a {
  color: #1E1666;
  display: block;
  line-height: 1.5;
  padding: 10px;
  text-decoration: none;
  text-transform: initial;
}
.c-header__item .c-header__child__item:last-child {
  border-bottom: none;
}
@media screen and (max-width: 767px) {
  .c-header__item .c-header__child__link {
    display: block;
    color: black;
    padding: 10px 0 10px 50px;
    z-index: 999;
  }
}
.c-header__link {
  padding: 0 10px;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
  height: 100%;
  display: flex;
  align-items: center;
  color: #1E1666;
}
@media screen and (max-width: 767px) {
  .c-header__link {
    height: auto;
    color: black;
    font-weight: 400;
    padding: 10px 0 10px 20px;
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .c-header__content {
    border-radius: 20px;
    width: 94%;
    height: 91%;
    overflow: hidden;
  }
}
@media screen and (max-width: 767px) {
  .c-header__nav {
    transform: translateX(100%);
    opacity: 0;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #ffffff;
    z-index: 999;
    height: 100vh;
    transition: 0.3s;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
@media screen and (max-width: 767px) {
  .c-header__nav.is-active {
    transform: translateX(0%);
    opacity: 1;
  }
}
@media screen and (max-width: 767px) {
  .c-header__btn {
    z-index: 8;
    width: 60px;
    height: 60px;
    background-color: #0cb7a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
  }
}
@media screen and (max-width: 767px) {
  .c-header__btn.is-active {
    z-index: 999;
  }
}
@media screen and (max-width: 767px) {
  .c-header__btn.is-active .c-header__btn__lines:before {
    top: 9px;
    left: 0;
    transform: rotate(45deg);
  }
}
@media screen and (max-width: 767px) {
  .c-header__btn.is-active .c-header__btn__lines::before, .c-header__btn.is-active .c-header__btn__lines::after {
    background-color: black;
  }
}
@media screen and (max-width: 767px) {
  .c-header__btn.is-active .c-header__btn__lines:after {
    bottom: 8px;
    left: 0;
    transform: rotate(-45deg);
  }
}
@media screen and (max-width: 767px) {
  .c-header__btn.is-active .c-header__btn__line {
    opacity: 0;
  }
}
@media screen and (max-width: 767px) {
  .c-header__btn.is-active .c-header__btn__text {
    color: black;
  }
}
@media screen and (max-width: 767px) {
  .c-header__btn__text {
    font-size: 8px;
    font-weight: 500;
    color: #fff;
  }
}
@media screen and (max-width: 767px) {
  .c-header__btn__lines {
    top: -5px;
    margin-top: 8px;
    width: 25px;
    height: 18px;
    position: relative;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .c-header__btn__lines::before {
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .c-header__btn__lines::after {
    bottom: 0;
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .c-header__btn__lines::before, .c-header__btn__lines::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    transition: 0.3s ease-in-out;
  }
}
@media screen and (max-width: 767px) {
  .c-header__btn__line {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
}
@media screen and (max-width: 767px) {
  .c-header figure {
    z-index: 9;
    height: 100%;
    padding-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .c-header figure img {
    height: 100%;
  }
}
.c-header__logo {
  display: flex;
  text-decoration: none;
  height: 100%;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
header
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-btn1 {
  left: 50%;
  border-radius: 30px;
  transform: translate(-50%, 0);
  bottom: 25px;
  position: absolute;
  font-weight: bold;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  padding: 8px;
  width: 150px;
  color: #fff;
  background: linear-gradient(to right, #E93154 0%, #FF342D 100%);
  transition: 0.2s;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .c-btn1:hover {
    transform: translate(-50%, 0) scale(1.1);
    opacity: 1;
  }
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-title1 {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  text-align: left;
  line-height: 1.2;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .c-title1 {
    font-size: 2.5rem;
  }
}
.c-title1__color1 {
  color: rgb(216, 47, 47);
  font-size: 5rem;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .c-title1__color1 {
    font-size: 2.7rem;
  }
}
.c-title1__txt {
  font-size: 5rem;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .c-title1__txt {
    font-size: 2.7rem;
  }
}
.c-title1__description {
  font-size: 1.7rem;
  line-height: 1.4;
  margin-top: 30px;
  color: #fff;
  text-align: justify;
}
@media screen and (max-width: 767px) {
  .c-title1__description {
    font-size: 1.6rem;
    margin-top: 15px;
  }
}
.c-title1 figure {
  height: 300px;
}
.c-title1 figure img {
  height: 100%;
}

/*
------------------------------------------------------------*/
.c-title2 {
  text-align: center;
  color: #1E1666;
}
.c-title2__color1 {
  color: rgb(216, 47, 47);
}
.c-title2__text {
  font-size: 3.1rem;
  display: block;
  font-weight: 600;
  text-transform: capitalize;
}
@media screen and (max-width: 767px) {
  .c-title2__text {
    font-size: 2.5rem;
    line-height: 1.3;
  }
}
.c-title2__text1 {
  margin-top: 10px;
  display: block;
  color: #262932;
  font-size: 1.7rem;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .c-title2__text1 {
    font-size: 1.6rem;
    text-align: justify;
    line-height: 1.5;
  }
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-text1 {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
.c-list1 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -50px;
  align-items: center;
  padding: 50px 0 50px 0;
}
@media screen and (max-width: 767px) {
  .c-list1 {
    padding: 0;
    margin-left: 0;
    padding: 50px 0px 0;
  }
}
.c-list1__item {
  width: 50%;
  padding-left: 50px;
}
@media screen and (max-width: 767px) {
  .c-list1__item {
    padding-left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .c-list1 figure {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .c-list1 figure img {
    width: 100%;
  }
}

.c-list2__body {
  padding: 10px 20px 80px 20px;
}
.c-list2__inner {
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
@media screen and (max-width: 850px) {
  .c-list2__inner {
    margin-left: -20px;
  }
}
@media screen and (max-width: 767px) {
  .c-list2__inner {
    margin-top: 20px;
    margin-left: 0;
  }
}
.c-list2__item {
  width: 33.33%;
  padding-left: 30px;
}
@media screen and (max-width: 850px) {
  .c-list2__item {
    padding-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .c-list2__item {
    width: 100%;
    padding-left: 0;
    margin-bottom: 25px;
  }
}
.c-list2__item:nth-child(2) .c-list2__heading {
  background: linear-gradient(90deg, rgb(255, 50, 188) 0%, rgb(194, 50, 255) 51%, rgb(232, 63, 66) 100%);
}
.c-list2__item:last-child .c-list2__heading {
  background: linear-gradient(90deg, rgb(71, 178, 233) 0%, rgb(50, 140, 255) 48%, rgb(34, 28, 237) 100%);
}
.c-list2__box {
  margin-top: 20px;
}
.c-list2__txt {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}
.c-list2__tlt {
  font-size: 2.3rem;
  line-height: 1.3;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .c-list2__tlt {
    font-size: 2.1rem;
  }
}
.c-list2__tlt span {
  display: block;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .c-list2__tlt span {
    font-size: 2.2rem;
  }
}
.c-list2__boxItem {
  font-size: 1.6rem;
  display: flex;
  align-items: baseline;
  line-height: 1.5;
}
.c-list2__boxItem strong {
  margin-right: 8px;
}
.c-list2__boxItem:not(:first-child) {
  margin-top: 13px;
}
@media screen and (max-width: 767px) {
  .c-list2__boxItem:not(:first-child) {
    margin-top: 8px;
  }
}
.c-list2__price {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
  position: relative;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .c-list2__price {
    font-size: 2.7rem;
    margin-top: 25px;
  }
}
.c-list2__price::before {
  content: "";
  display: block;
  width: 65%;
  height: 5px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 767px) {
  .c-list2__price::before {
    height: 3px;
  }
}
.c-list2__heading {
  overflow: hidden;
  position: relative;
  padding: 30px 40px 20px 40px;
  color: #fff;
  background: linear-gradient(90deg, rgb(71, 175, 233) 0%, rgb(50, 219, 255) 48%, rgb(237, 185, 28) 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media screen and (max-width: 767px) {
  .c-list2__heading {
    padding: 30px 30px 20px 30px;
  }
}
.c-list2__wrap {
  position: relative;
  border-radius: 10px;
  transition: transform 0.2s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .c-list2__wrap:hover {
    transform: scale(1.03) translateY(-10px);
  }
}
.c-list2__hot {
  font-size: 1.7rem;
  font-weight: 500;
  padding: 8px 30px;
  transform: rotate(-43deg);
  position: absolute;
  top: 10px;
  left: -31px;
  line-height: 1;
  font-weight: bold;
  position: absolute;
  text-transform: capitalize;
  background-color: #ec3232;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (max-width: 767px) {
  .c-list2__hot {
    font-size: 1.6rem;
    padding: 5px 30px;
    top: 10px;
    left: -33px;
  }
}

.c-list3 {
  margin-top: 30px;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .c-list3 {
    margin-left: 0;
    margin-top: 20px;
  }
}
.c-list3__item {
  width: 50%;
  padding-left: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .c-list3__item {
    width: 100%;
    padding-left: 0;
    margin-bottom: 20px;
  }
}
.c-list3__wrap {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 30px;
}
@media screen and (max-width: 767px) {
  .c-list3__wrap {
    padding: 10px;
  }
}
.c-list3__txt {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0;
  border-bottom-style: dashed;
  border-bottom-color: #e3e3e3;
  border-bottom-width: 1px;
}
.c-list3 figure {
  text-align: center;
  margin-bottom: 20px;
}
.c-list3__content {
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
@media screen and (max-width: 767px) {
  .c-list3__content {
    padding: 20px 10px;
  }
}

.c-list8 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
}
.c-list8__wrap {
  width: 25%;
  padding-left: 25px;
  margin-bottom: 20px;
}
@media screen and (max-width: 888px) {
  .c-list8__wrap {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .c-list8__wrap {
    width: 100%;
    margin-top: 0px;
  }
}
.c-list8__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  box-shadow: 0 0 5px #111111;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s linear;
  border-color: #ffffff;
  box-shadow: 0px 6px 10px 0px #8aa0c5;
}
@media screen and (min-width: 768px) {
  .c-list8__item:hover {
    background-color: #3a454d;
  }
  .c-list8__item:hover .c-list8__name,
.c-list8__item:hover .c-list8__position {
    color: white;
  }
  .c-list8__item:hover .c-list8__skill {
    border-color: #ffffff;
  }
}
.c-list8__img {
  width: 100%;
}
.c-list8__img img {
  width: 100%;
}
.c-list8__content {
  padding: 10px;
}
.c-list8__name {
  font-size: 1.6rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: #111111;
  font-weight: 600;
}
.c-list8__title {
  text-transform: capitalize;
}
.c-list8__position {
  font-size: 1.5rem;
  line-height: 1.5;
  font-style: italic;
  color: #3a454d;
  margin: 30px 0;
}
.c-list8__skill {
  text-align: left;
  border-top: 1px solid #3a454d;
  padding-top: 10px;
  border-style: dotted;
}
.c-list8__skill li {
  display: inline-block;
  margin-bottom: 3px;
}
.c-list8__skill li span {
  font-size: 1.3rem;
  padding: 1px 4px;
  border-radius: 5px;
  background-color: #3a454d;
  line-height: 2;
  color: white;
  border: 1px solid #838383;
}
.c-list8__link1 {
  background-image: url("/images/team/linkedin.png");
}
.c-list8__link2 {
  background-image: url("/images/team/fb-icon.png");
}
.c-list8__link3 {
  background-image: url("/images/team/twitter-icon.png");
}

.c-list9__item {
  padding: 30px 0;
}
.c-list9__item1, .c-list9__item3, .c-list9__item5 {
  background: #87CEFA;
}
.c-list9__content {
  display: flex;
  flex-wrap: wrap;
}
.c-list9__content2, .c-list9__content4 {
  flex-direction: row-reverse;
}
.c-list9__content2 .c-list9__text, .c-list9__content4 .c-list9__text {
  padding-left: 30px;
  padding-right: 0;
}
@media screen and (max-width: 767px) {
  .c-list9__content2 .c-list9__text, .c-list9__content4 .c-list9__text {
    padding-left: 0;
    text-align: justify;
  }
}
.c-list9__img {
  width: 40%;
}
@media screen and (max-width: 767px) {
  .c-list9__img {
    width: 100%;
  }
}
.c-list9__text {
  width: 60%;
  padding-right: 30px;
  font-size: 1.6rem;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .c-list9__text {
    width: 100%;
    padding-right: 0;
    text-align: justify;
  }
}
.c-list9__txt {
  margin: 30px 0;
}
.c-list9__subTitle {
  position: relative;
}
.c-list9__subTitle::after {
  position: absolute;
  content: "";
  height: 5px;
  background-color: #00BFFF;
  width: 100px;
  top: 30px;
  left: 0;
}
@media screen and (max-width: 767px) {
  .c-list9__subTitle::after {
    width: 0;
    height: 0;
  }
}
@media screen and (max-width: 767px) {
  .c-list9__subTitle {
    font-style: italic;
    color: #838383;
  }
}
.c-list9__btn {
  padding: 10px 30px;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 30px;
  text-transform: uppercase;
  background-color: #0064a3;
  color: white;
  font-weight: bold;
  border: transparent;
  box-shadow: 0px 6px 10px 0px #8aa0c5;
  border-radius: 5px;
  transition: all 1s;
}
@media screen and (min-width: 768px) {
  .c-list9__btn:hover {
    cursor: pointer;
    background-color: #FF0000;
  }
}

.c-list10__list {
  display: flex;
  margin-left: -20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .c-list10__list {
    margin-left: 0;
  }
}
.c-list10__item {
  width: 33.33%;
  padding-left: 20px;
}
@media screen and (max-width: 767px) {
  .c-list10__item {
    padding-left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .c-list10__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.c-list10__wrap {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  text-decoration: none;
  color: #262932;
  background-color: rgb(243, 249, 255);
}
@media screen and (min-width: 768px) {
  .c-list10__wrap:hover .c-list10__tlt {
    text-decoration: none;
  }
  .c-list10__wrap:hover figure img {
    transform: scale(1.2);
  }
}
.c-list10__tlt {
  line-height: 1.3;
  text-decoration: underline;
  font-size: 1.8rem;
}
.c-list10 figure {
  height: 240px;
  overflow: hidden;
}
.c-list10 figure img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.c-list10__info {
  padding: 20px 10px 10px 10px;
}
.c-list10__date {
  margin-top: 15px;
  border-top: 1px solid #ccc;
  padding-top: 7px;
  text-transform: capitalize;
  font-size: 1.8rem;
  text-align: right;
  font-weight: 700;
}
.c-list10__date span {
  font-size: 1.6rem;
}

/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-slider {
  margin-left: -30px;
}
@media screen and (max-width: 767px) {
  .c-slider {
    margin-left: 0;
  }
}
.c-slider__list {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
}
@media screen and (max-width: 767px) {
  .c-slider__list {
    margin: 20px auto;
  }
}
.c-slider__item {
  width: 33.33%;
  padding-left: 30px;
  overflow: hidden;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .c-slider__item {
    width: 100%;
    padding-left: 0;
  }
}
.c-slider__inner {
  z-index: 12;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  position: relative;
}
@media screen and (min-width: 768px) {
  .c-slider__inner:hover:after {
    opacity: 0.6;
    transition: 0.4s ease-in-out;
  }
  .c-slider__inner:hover .c-slider__btn {
    opacity: 1;
    transition: 0.4s ease-in-out;
  }
  .c-slider__inner:hover img {
    transform: translateY(calc(-100% + 500px));
    transition: 3s ease-in-out;
  }
}
.c-slider__inner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
}
.c-slider__btnWrap {
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, 0);
  top: 50%;
  left: 50%;
  z-index: 999;
}
.c-slider__btn {
  color: #fff;
  background: linear-gradient(to right, #E93154 0%, #FF342D 100%);
  border-radius: 20px;
  border: none;
  display: inline-block;
  text-decoration: none;
  padding: 7px 20px;
  font-weight: 600;
  opacity: 0;
  text-transform: capitalize;
}
.c-slider__modal {
  display: none;
}
.c-slider__modal.modal {
  max-width: 2000px;
}
@media screen and (max-width: 767px) {
  .c-slider__modal {
    padding: 10px;
  }
}
.c-slider .slick-arrow {
  z-index: 10;
  background-color: transparent;
}
.c-slider .slick-arrow::before {
  font-size: 25px;
  color: rgb(216, 47, 47);
}
.c-slider .slick-prev {
  left: 55px;
}
.c-slider .slick-next {
  right: 55px;
}
.c-slider .slick-dots li button {
  padding: 0;
}
.c-slider .slick-dots li button:before {
  font-size: 1rem;
}
.c-slider figure {
  display: block;
  height: 500px;
}
.c-slider figure::before {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  background: url("/images/img-safari.png") no-repeat left top;
  background-size: cover;
}
.c-slider figure img {
  width: 100%;
}

/*------------------------------------------------------------
MV
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
.c-box1 {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 40px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
@media screen and (max-width: 767px) {
  .c-box1 {
    margin-left: 0;
    padding: 0;
  }
}
.c-box1__item {
  width: 50%;
  padding-left: 30px;
}
@media screen and (max-width: 767px) {
  .c-box1__item {
    width: 100%;
    padding: 20px;
  }
}
.c-box1__item:first-child {
  padding-right: 20px;
  border-right: 1px solid #ccc;
}
@media screen and (max-width: 767px) {
  .c-box1__item:first-child {
    border-right: 0;
    border-bottom: 1px solid #ccc;
  }
}
.c-box1__icon {
  width: 65px;
  height: 65px;
  display: flex;
  margin-right: 10px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 47, 47);
  border-radius: 10px;
}
.c-box1__icon i {
  font-size: 4rem;
  color: white;
}
.c-box1__inner {
  display: flex;
  align-items: center;
}
.c-box1__tlt {
  font-size: 1.9rem;
  font-weight: 700;
  color: #1E1666;
}
@media screen and (max-width: 767px) {
  .c-box1__tlt {
    font-size: 1.8rem;
    line-height: 1.2;
  }
}
.c-box1__txt {
  margin: 12px 0 10px 0;
  color: #242d4c;
  font-size: 1.7rem;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .c-box1__txt {
    font-size: 1.6rem;
    margin-top: 7px;
  }
}
.c-box1__btn {
  padding: 5px 20px;
  color: white;
  background-color: rgb(216, 47, 47);
  border-radius: 20px;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
}

.c-box2__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: 50px;
}
@media screen and (max-width: 850px) {
  .c-box2__list {
    margin-left: -20px;
  }
}
@media screen and (max-width: 767px) {
  .c-box2__list {
    margin-top: 35px;
    margin-left: 0;
  }
}
.c-box2__item {
  margin-bottom: 30px;
  width: 33.33%;
  padding-left: 30px;
}
@media screen and (max-width: 850px) {
  .c-box2__item {
    padding-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .c-box2__item {
    width: 100%;
    padding-left: 0;
    margin-bottom: 20px;
  }
}
.c-box2__inner {
  height: 100%;
  padding: 30px;
  box-shadow: 0px 0px 20px 0px rgba(84, 72, 163, 0.12);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
@media screen and (max-width: 767px) {
  .c-box2__inner {
    padding: 30px 20px;
  }
}
.c-box2__list--style1 .c-box2__inner {
  background-color: #fff;
}
.c-box2__icon {
  width: 65px;
  height: 65px;
  margin: 0 auto;
  border: 2px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-self: center;
}
.c-box2__icon i {
  display: block;
  margin: auto;
  font-size: 3.8rem;
  color: red;
}
.c-box2__list--style1 .c-box2__icon {
  width: auto;
  height: auto;
  border: none;
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(to right, #E93154 0%, #FF342D 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-transform: uppercase;
  display: block;
  position: relative;
  margin-bottom: 20px;
  line-height: 1.4;
}
@media screen and (max-width: 767px) {
  .c-box2__list--style1 .c-box2__icon {
    font-size: 2.6rem;
  }
}
.c-box2__list--style1 .c-box2__icon:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E93154;
}
.c-box2__tlt {
  text-align: center;
  margin: 10px;
  font-size: 2rem;
  color: #1E1666;
  text-transform: capitalize;
  position: relative;
}
@media screen and (max-width: 767px) {
  .c-box2__tlt {
    font-size: 1.8rem;
  }
}
.c-box2__tlt::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: red;
  position: absolute;
  bottom: 0;
}
.c-box2__list--style1 .c-box2__tlt::before {
  content: normal;
}
.c-box2__txt {
  font-size: 1.7rem;
  text-align: justify;
}
@media screen and (max-width: 767px) {
  .c-box2__txt {
    font-size: 1.6rem;
  }
}

.c-box3__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: 30px;
}
.c-box3__item {
  width: 33.33%;
  padding-left: 10px;
  margin-bottom: 10px;
}
.c-box3__content {
  padding: 30px 20px 20px 20px;
  background-color: rgb(7, 164, 115);
  color: #fff;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s ease-in-out;
  transform: translate(0px, -100%);
}
.c-box3__item--style1 .c-box3__content {
  transform: translate(-100%, 0%);
}
.c-box3__tlt {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 20px;
}
.c-box3__inner {
  position: relative;
}
@media screen and (min-width: 768px) {
  .c-box3__inner:hover .c-box3__content {
    opacity: 1;
    transform: translate(0px, 0%);
  }
}
.c-box3__txt {
  font-size: 1.7rem;
  line-height: 1.5;
}
.c-box3 figure {
  position: relative;
  display: block;
  cursor: pointer;
}
.c-box3 figure img {
  height: 100%;
  width: 100%;
}
.c-box3 .slick-dots li {
  margin: 0;
}
.c-box3 .slick-dots li button {
  padding: 0;
}
.c-box3 .slick-dots li button:before {
  font-size: 12px;
}

.c-box4__content {
  margin-top: 40px;
  margin-left: -20px;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .c-box4__content {
    margin-left: 0;
    margin-top: 20px;
  }
}
.c-box4__item {
  width: 25%;
  padding-left: 20px;
}
@media screen and (max-width: 767px) {
  .c-box4__item {
    width: 100%;
    padding-left: 0;
    margin-bottom: 20px;
  }
}
.c-box4__inner {
  background-color: rgba(255, 255, 255, 0.1490196078);
  border-radius: 15px;
  padding: 40px 20px;
  transition: 0.2s;
}
@media screen and (min-width: 768px) {
  .c-box4__inner:hover {
    transform: translateY(-10px);
  }
}
.c-box4__icon {
  margin: auto;
  text-align: center;
}
.c-box4__icon i {
  font-size: 5rem;
}
.c-box4__tlt {
  text-align: center;
  font-size: 2rem;
  margin: 10px 0 20px 0;
  text-transform: capitalize;
  position: relative;
}
@media screen and (max-width: 767px) {
  .c-box4__tlt {
    font-size: 1.8rem;
  }
}
.c-box4__tlt:after {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  background-color: #fff;
}
.c-box4__txt {
  line-height: 1.5;
  font-size: 1.7rem;
}
@media screen and (max-width: 767px) {
  .c-box4__txt {
    font-size: 1.6rem;
  }
}

.c-box5 {
  margin-top: 70px;
  background-color: #fff;
  padding: 40px 10px;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .c-box5 {
    margin-top: 20px;
    padding: 20px 10px;
  }
}
.c-box5__content {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .c-box5__content {
    margin-top: 15px;
  }
}
.c-box5__item {
  width: 20%;
  padding: 0 10px;
}

.c-box6 {
  max-width: 3000px;
  width: 100%;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .c-box6 .c-title2 {
    padding: 0 20px;
  }
}
.c-box6__inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .c-box6__inner {
    margin-top: 20px;
  }
}
.c-box6__item {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .c-box6__item {
    width: 100%;
  }
}
.c-box6__item figure {
  display: flex;
  height: 100%;
}
.c-box6__item figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-box6__item--style1 figure {
  height: 570px;
}
@media screen and (max-width: 767px) {
  .c-box6__item--style1 figure {
    height: 330px;
  }
}
.c-box6__list {
  display: flex;
  flex-wrap: wrap;
}
.c-box6__list__item {
  height: 250px;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .c-box6__list__item {
    height: 130px;
  }
}
.c-box6__img {
  display: block;
}
.c-box6__img__item {
  height: 320px;
}
@media screen and (max-width: 767px) {
  .c-box6__img__item {
    height: 200px;
  }
}

.c-box7 {
  background: url(/images/banner-bg.png) no-repeat center center;
  background-size: cover;
  height: 200px;
}
.c-box7__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.c-box7__list {
  display: flex;
  flex-wrap: wrap;
}
.c-box7__tlt {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-bottom: 10px;
  text-align: left;
}
.c-box7__link {
  display: inline-block;
  color: #fff;
  text-transform: capitalize;
  padding-right: 25px;
  position: relative;
}
.c-box7__link::before, .c-box7__link::after {
  content: "";
  width: 12px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: 0;
}
.c-box7__link::before {
  transform: translate(-50%, -50%) rotate(29deg);
  top: 45%;
}
.c-box7__link::after {
  transform: translate(-50%, -50%) rotate(-29deg);
  top: 66%;
}
.c-box7__item {
  font-size: 1.7rem;
  font-weight: 600;
}
.c-box7__txt {
  color: #fff;
  text-transform: capitalize;
}
.c-box7 .l-container {
  height: 100%;
}

.c-box8 {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .c-box8 {
    flex-direction: column-reverse;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
.c-box8__wrap {
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .c-box8__wrap {
    margin-top: 30px;
  }
}
.c-box8__item {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .c-box8__item {
    width: 100%;
  }
}
.c-box8__item:first-child {
  padding-right: 30px;
}
.c-box8__item:last-child {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
@media screen and (max-width: 767px) {
  .c-box8__item:last-child {
    margin-bottom: 50px;
  }
}
.c-box8__tlt {
  font-size: 3rem;
  color: #1E1666;
  text-transform: capitalize;
  margin-bottom: 20px;
  position: relative;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .c-box8__tlt {
    font-size: 2.5rem;
  }
}
.c-box8__tlt::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: red;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.c-box8__txt {
  font-size: 1.6rem;
}
.c-box8__socialIcons {
  display: flex;
}
.c-box8__socialIcons a {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.c-box8__socialIcons a:first-child {
  background-color: #0a7eec;
}
.c-box8__socialIcons a:last-child {
  background-color: green;
}
.c-box8__socialIcons i {
  font-size: 2rem;
  color: #fff;
}
.c-box8__address {
  display: flex;
  flex-direction: column;
}
.c-box8__address__text {
  font-size: 1.6rem;
  padding-left: 20px;
}
@media screen and (max-width: 767px) {
  .c-box8__address__text {
    padding-left: 15px;
  }
}
.c-box8__address__text:first-child {
  margin-bottom: 10px;
}
.c-box8__address__item {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .c-box8__address__item {
    margin-bottom: 10px;
  }
}
.c-box8__address__item figure {
  width: 40px;
  height: 40px;
  display: flex;
  flex-shrink: 0;
}
.c-box8__address__style1 {
  display: flex;
  flex-direction: column;
}
.c-box8__form {
  padding: 30px;
}
@media screen and (max-width: 767px) {
  .c-box8__form {
    padding: 15px;
  }
}
.c-box8__form__tlt {
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #1E1666;
  text-align: center;
  text-transform: capitalize;
  position: relative;
}
@media screen and (max-width: 767px) {
  .c-box8__form__tlt {
    font-size: 2.2rem;
  }
}
.c-box8__form__tlt::after {
  content: "";
  display: block;
  width: 70%;
  background-color: #1E1666;
  height: 1px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.c-box8__input {
  margin-bottom: 15px;
  position: relative;
}
.c-box8__input input {
  border: 1px solid #6b6a7b;
  padding: 10px 20px;
  border-radius: 5px;
  line-height: 1.5;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.6rem;
}
.c-box8__input input::-webkit-outer-spin-button,
.c-box8__input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.c-box8__input input[type=number] {
  -moz-appearance: textfield;
}
.c-box8__input select {
  border: 1px solid #6b6a7b;
  border-radius: 5px;
  display: block;
  padding: 10px 20px;
  width: 100%;
  font-size: 1.6rem;
}
.c-box8__btn {
  border-radius: 30px;
  border: none;
  font-size: 1.6rem;
  padding: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  background: linear-gradient(to right, #0e84ee 0%, #19abd9 100%);
  color: #fff;
  width: 200px;
}
.c-box8 textarea {
  width: 100%;
  border: 1px solid #6b6a7b;
  border-radius: 5px;
  resize: none;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 20px;
}
.c-box8__icon {
  display: flex;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .c-box8__icon {
    margin-top: 10px;
  }
}
.c-box8__titleSocial {
  font-size: 1.7rem;
}
.c-box8__phone {
  color: black;
  text-decoration: none;
}

.c-box9__list {
  margin: 40px 0;
  padding: 30px 0;
}
@media screen and (max-width: 767px) {
  .c-box9__list {
    margin: 30px 0;
    padding: 20px 0;
  }
}
.c-box9__tlt {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
}
.c-box9__txt {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: justify;
  line-height: 1.5;
}
.c-box9__item {
  margin-bottom: 40px;
}

.c-box10 {
  height: 300px;
  position: relative;
}
.c-box10__img {
  height: 100%;
}
.c-box10__img figure {
  height: 100%;
  display: block;
}
.c-box10__img figure img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.c-box10__tlt {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.3;
}
.c-box10__description {
  font-size: 1.6rem;
  font-style: italic;
  line-height: 1.5;
  margin: 10px 0;
}
.c-box10__inner {
  color: #1E1666;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}
.c-box10__breadcrumb {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  color: black;
  padding: 20px 0px;
  background-color: #fff;
}
.c-box10__breadcrumb__item {
  color: #1E1666;
  padding: 0 30px;
  text-transform: capitalize;
  position: relative;
  font-weight: 700;
}
.c-box10__breadcrumb__item.is-active::before, .c-box10__breadcrumb__item.is-active::after {
  content: normal;
}
.c-box10__breadcrumb__item::before, .c-box10__breadcrumb__item::after {
  content: "";
  display: block;
  width: 13px;
  background-color: #1E1666;
  height: 2px;
  right: -5px;
  position: absolute;
}
.c-box10__breadcrumb__item::before {
  bottom: 10px;
  transform: rotate(-25deg);
}
.c-box10__breadcrumb__item::after {
  top: 10px;
  transform: rotate(25deg);
}
.c-box10__breadcrumb a {
  color: #1E1666;
  text-decoration: none;
}

.c-box11__content {
  display: flex;
}
.c-box11__inner {
  flex: 1;
}
.c-box11__author {
  font-size: 1.6rem;
  color: #1E1666;
  display: flex;
  font-weight: bold;
}
.c-box11__author span {
  text-transform: capitalize;
  margin-left: 10px;
}
.c-box11__author__txt {
  color: #cb2121;
}
.c-box11__top {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #1E1666;
  padding: 30px 0;
}
.c-box11__date {
  display: flex;
  align-items: center;
}
.c-box11__datePost {
  margin-left: 5px;
  font-weight: bold;
}
.c-box11__slidebar {
  width: 300px;
  border: 1px solid red;
}

.c-box12 {
  padding: 50px 0;
}
@media screen and (max-width: 767px) {
  .c-box12 {
    padding: 20px 0;
  }
}
.c-box12__inner {
  display: flex;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .c-box12__inner {
    flex-direction: column-reverse;
  }
}
.c-box12__list {
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .c-box12__list {
    margin-top: 20px;
  }
}
.c-box12__item {
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .c-box12__item {
    margin-bottom: 10px;
  }
}
.c-box12__item input, .c-box12__item select {
  font-size: 1.6rem;
  line-height: 1.5;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 15px;
  border: 1px solid #6b6a7b;
  border-radius: 3px;
}
@media screen and (max-width: 767px) {
  .c-box12__item input, .c-box12__item select {
    padding: 5px 10px;
  }
}
.c-box12__tlt {
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .c-box12__tlt {
    font-size: 2.3rem;
  }
}
.c-box12__tlt__sub {
  text-align: center;
}
.c-box12__txt {
  font-size: 1.6rem;
  font-weight: 600;
}
.c-box12__btn {
  font-size: 1.6rem;
  line-height: 1.5;
  display: block;
  border: none;
  background: linear-gradient(to right, #E93154 0%, #FF342D 100%);
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .c-box12__btn {
    padding: 8px 20px;
  }
}
.c-box12 form {
  width: 40%;
  padding-right: 30px;
}
@media screen and (max-width: 767px) {
  .c-box12 form {
    width: 100%;
    padding-right: 0;
  }
}
.c-box12 figure {
  max-height: 400px;
  overflow: hidden;
  width: 60%;
}
@media screen and (max-width: 767px) {
  .c-box12 figure {
    width: 100%;
    margin-bottom: 30px;
  }
}
.c-box12 figure img {
  width: 100%;
}
.c-box12 .print-error-msg {
  margin: 20px 0 -20px 0;
}
@media screen and (max-width: 767px) {
  .c-box12 .print-error-msg {
    margin: 20px 0;
  }
}
.c-box12 .print-error-msg li {
  color: red;
}

.c-box13__inner {
  background: url("/images/background.webp") center no-repeat;
  padding-top: 80px;
  padding-bottom: 30px;
  position: relative;
}
.c-box13__inner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #042433;
  background: linear-gradient(90deg, rgb(8, 15, 43) 0%, rgb(35, 93, 149) 45%, rgb(15, 38, 66) 100%);
  opacity: 0.85;
}
.c-box13__tlt {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/*------------------------------------------------------------
Page Top
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-home1 {
  background: linear-gradient(90deg, rgb(50, 255, 198) 0%, rgb(50, 154, 255) 45%, rgb(63, 140, 232) 100%);
}
.p-home1 .c-title1 {
  color: #1E1666;
}
.p-home1 .c-title1__description {
  color: #242d4c;
}
.p-home1__box {
  position: relative;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0 0px 165px 0px;
}
.p-home1__svg {
  transform: rotate(180deg);
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
}
.p-home1__svg .elementor-shape-fill {
  fill: #fff;
  transform-origin: center;
  transform: rotateY(0deg);
}
.p-home1 svg {
  z-index: -1;
  height: 165px;
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.p-home2 {
  margin-top: -160px;
}
@media screen and (max-width: 767px) {
  .p-home2 {
    margin-top: -135px;
  }
}
.p-home3 {
  padding-top: 85px;
}
@media screen and (max-width: 767px) {
  .p-home3 {
    padding-top: 40px;
  }
}
.p-home4 {
  padding-top: 85px;
  background-color: rgb(243, 249, 255);
  padding-bottom: 50px;
  padding: 85px 30px 50px 30px;
}
@media screen and (max-width: 767px) {
  .p-home4 {
    padding: 40px 15px 20px;
  }
}
.p-home4 .c-slider__list:last-child {
  margin-top: 70px;
}
@media screen and (max-width: 767px) {
  .p-home4 .c-slider__list:last-child {
    margin-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .p-home4 .c-slider .slick-dots li {
    margin: 0;
  }
}
.p-home5 {
  padding-top: 85px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .p-home5 {
    padding-top: 40px;
    margin-bottom: 20px;
  }
}
.p-home6 {
  padding-top: 85px;
  background-color: #F3F9FF;
}
@media screen and (max-width: 767px) {
  .p-home6 {
    padding-top: 40px;
  }
}
.p-home7 {
  padding-top: 85px;
  margin-bottom: 70px;
}
@media screen and (max-width: 767px) {
  .p-home7 {
    padding-top: 40px;
    margin-bottom: 40px;
  }
}
.p-home8 {
  padding-top: 85px;
  background-image: radial-gradient(at center center, rgba(29, 188, 144, 0.8), rgb(50, 154, 255) 45%, rgb(63, 140, 232) 100%);
  padding-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .p-home8 {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .p-home8 .c-title2__text {
    font-size: 1.8rem;
  }
}
.p-home8 .c-box4 .c-title2__text, .p-home8 .c-box4 .c-title2__text1 {
  color: #fff;
}
.p-home8 .c-box4__inner {
  height: 100%;
}
.p-home9 {
  padding-top: 85px;
}
@media screen and (max-width: 767px) {
  .p-home9 {
    padding-top: 40px;
  }
}
.p-home9 .c-list10 {
  margin: 30px 0;
}
.p-home10 {
  padding-top: 85px;
}
@media screen and (max-width: 767px) {
  .p-home10 {
    padding-top: 40px;
  }
}
.p-home11 {
  display: none;
}
.p-home11.modal {
  width: auto;
  max-width: none;
}
@media screen and (max-width: 767px) {
  .p-home11.modal {
    padding: 0px;
  }
}

.p-contact1__area {
  width: 100%;
  height: 500px;
}
@media screen and (max-width: 767px) {
  .p-contact1__area {
    height: 300px;
  }
}
.p-contact1 iframe {
  width: 100%;
  height: 100%;
  display: block;
}
.p-contact1__content {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

/*------------------------------------------------------------
Page Top
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-introduction1 {
  padding-top: 70px;
}
.p-introduction1 .c-list8 {
  margin-top: 40px;
}
.p-introduction2 {
  padding-top: 70px;
}

/*
------------------------------------------------------------*/
.p-pay1 {
  padding: 70px 0;
}
@media screen and (max-width: 767px) {
  .p-pay1 {
    padding: 30px 0;
  }
}
.p-pay1__tlt {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 7px;
  line-height: 1.5;
}
.p-pay1__txt {
  font-size: 1.6rem;
}
.p-pay1__contact {
  font-size: 1.6rem;
}
.p-pay1__contact span {
  font-weight: 600;
}
.p-pay1__contact a {
  text-decoration: none;
  color: black;
}
.p-pay1__box:first-child {
  margin-bottom: 20px;
}
.p-pay1 .c-title2 {
  margin-top: 50px;
}

/*------------------------------------------------------------
Page blog
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-blog1 {
  margin: 70px 0;
}
.p-blog1 ul, .p-blog1 ol {
  list-style-type: disc;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}
.p-blog1 ul li, .p-blog1 ol li {
  line-height: 1.8;
}
.p-blog1 h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  line-height: 1.3;
}
.p-blog1 h2 {
  font-size: 2.5rem;
  line-height: 1.3;
}
.p-blog1 h3 {
  font-size: 1.9rem;
}
.p-blog1 p {
  line-height: 1.8;
  text-align: justify;
}
