//baseWidth
//$baseWidth1:1000px;

// Breakpoint
$breakpoint1: 767px;

$colorWhite: #ffff;

// Common Colors
$color1: #0288d1;
$colorBlack: #111111;
$colorLightGrey: #cccccc;
// $color2: #000a1c;
// $color3: #edf8ff;
// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;
