/*------------------------------------------------------------
Page blog
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-blog {
    &1 {
        margin: 70px 0;
        @include sp() {
            margin: 30px 0;
        }
        .l-container1 {
            &__content {
                ul, ol {
                    list-style-type: disc;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    padding-inline-start: 40px;
                    li {
                        line-height: 1.8;
                    }
                }
                h1 {
                    font-size: 3.0rem;
                    margin-bottom: 20px;
                    line-height: 1.3;
                    @include sp() {
                        font-size: 2.2rem;
                        margin-bottom: 10px;
                    }
                }
                h2 {
                    font-size: 2.5rem;
                    line-height: 1.3;
                    position: relative;
                    padding-left: 12px;
                    margin: 20px 0;
                    @include sp() {
                        margin: 10px 0;
                    }
                    &:before {
                        content: "";
                        left: -5px;
                        top: 0;
                        display: block;
                        width: 5px;
                        height: 100%;
                        position: absolute;
                        background-color: rgb(216, 47, 47);
                        border-radius: 5px;
                    }
                    @include sp() {
                        font-size: 2.0rem;
                    }
                }
                h3 {
                    font-size: 1.9rem;
                    @include sp() {
                        font-size: 1.7rem;
                    }
                }
                p {
                    line-height: 1.8;
                    text-align: justify;
                    @include sp() {
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}