/*------------------------------------------------------------
Page Top
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-introduction {
  &1 {
    padding-top: 70px;
    padding-bottom: 50px;
    .c-list8 {
        margin-top: 40px;
    }
  }
}