/*------------------------------------------------------------
Page Top
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-home {
    &1 {
        background: linear-gradient(105deg, rgb(110, 153, 230), rgb(9, 60, 148));
        padding-bottom: 50px;
        
        @include sp() {
            padding-bottom: 20px;
        }
        .c-title1 {
            color: #fff;
            &__description {
                color: #fff;
            }
        }
    }
 
    &3 {
        padding-top: 50px;
        @include sp() {
            padding-top: 40px;
        }
    }
    &4 {
        background-color: rgb(243, 249, 255);
        padding-bottom: 50px;
        padding: 50px 30px 50px 30px;

        @include sp() {
            padding: 40px 15px 20px;
        }
        .c-slider {
            &__list {
                &:last-child {
                    margin-top: 70px;
                    @include sp() {
                        margin-top: 60px;
                    }
                }
            }
            .slick-dots li {
                @include sp() {
                    margin: 0;
                }
            }
        }
    }
    &5 {
        padding-top: 50px;
        margin-bottom: 30px;
        @include sp() {
            padding-top: 40px;
            margin-bottom: 20px;
        }
    }
    &6 {
        padding-top: 50px;
        background-color: #F3F9FF;
        @include sp() {
            padding-top: 40px;
        }
    }
    &7 {
        padding-top: 50px;
        margin-bottom: 70px;
        @include sp() {
            padding-top: 40px;
            margin-bottom: 40px;
        }
    }
    &8 {
        padding-top:50px;
        padding-bottom: 50px;
        background: linear-gradient(270deg, rgb(103, 178, 111), rgb(76, 162, 205));
        @include sp() {
            padding-top: 40px;
            padding-bottom: 30px;
        }
       
        .c-box4 {
            .c-title2 {
                &__text,&__text1 {
                    color:#fff;
                }
            }
            &__inner {
                height: 100%;
            }
        }
    }
    &9 {
        padding-top: 50px;
        @include sp() {
            padding-top: 40px;
        }
        
        .c-list10 {
            margin: 30px 0;
        }
    }
    &10 {
        padding-top: 50px;
        @include sp() {
            padding-top: 40px;
        }
    }
    &11 {
        // display: none;
    }
}