/*------------------------------------------------------------
Page Top
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-home {
    &1 {
        background: linear-gradient(90deg, rgba(50,255,198,1) 0%, rgba(50,154,255,1) 45%, rgba(63,140,232,1) 100%);
        &__box {
            position: relative;
            transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
            padding: 0 0px 165px 0px;
        }
        &__svg {
            transform: rotate(180deg);
            overflow: hidden;
            position: absolute;
            left: 0;
            width: 100%;
            .elementor-shape-fill {
                fill: #fff;
                transform-origin: center;
                transform: rotateY(0deg);
            }
        }
        svg {
            z-index: -1;
            height: 165px;
            display: block;
            width: calc(100% + 1.3px);
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &2 {
        margin-top: -160px;
        @include sp() {
            margin-top: -135px;
        }
    }
    &3 {
        padding-top: 85px;
        @include sp() {
            padding-top: 40px;
        }
    }
    &4 {
        padding-top: 85px;
        background-color: rgb(243, 249, 255);
        padding-bottom: 50px;
        padding: 85px 30px 50px 30px;

        @include sp() {
            padding: 40px 15px 20px;
        }
    }
    &5 {
        padding-top: 85px;
        margin-bottom: 30px;
        @include sp() {
            padding-top: 40px;
            margin-bottom: 20px;
        }
    }
    &6 {
        padding-top: 85px;
        background-color: #F3F9FF;
        @include sp() {
            padding-top: 40px;
        }
    }
    &7 {
        padding-top: 85px;
        margin-bottom: 70px;
        @include sp() {
            padding-top: 40px;
            margin-bottom: 40px;
        }
    }
    &8 {
        padding-top:85px;
        background-image: radial-gradient(at center center, rgba(29, 188, 144, 0.8), rgb(50, 154, 255) 45%, rgb(63, 140, 232) 100%);
        padding-bottom: 50px;
        @include sp() {
            padding-top: 40px;
            padding-bottom: 30px;
        }
        .c-title2 {
            &__text {
                @include sp() {
                    font-size: 1.8rem;
                }
            }
            &__color1 {
                font-size: 2.0rem;
            }
        }
        .c-box4 {
            .c-title2 {
                &__text,&__text1 {
                    color:#fff;
                }
            }
            &__inner {
                height: 100%;
            }
        }
    }
    &9 {
        padding-top: 85px;
        @include sp() {
            padding-top: 40px;
        }
    }
}