/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn1 {
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, 0);
    bottom: 25px;
    position: absolute;
    font-weight: bold;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
    padding: 10px 40px;
    color: #fff;
    background: linear-gradient(to right, #E93154 0%, #FF342D 100%);
    transition: 0.2s;
    @include hover() {
        transform: translate(-50%, 0) scale(1.2);
    }
}