/*------------------------------------------------------------
other
------------------------------------------------------------*/
.c-box1 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 40px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin-left: -30px;
    &__item {
        width: 50%;
        padding-left: 30px;
        &:first-child {
            padding-right: 20px;
            border-right: 1px solid black;
        }
    }
    &__icon {
        width: 65px;
        height: 65px;
        display: flex;
        margin-right: 10px;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        background-color: rgb(216, 47, 47);
        border-radius: 10px;
        i {
            font-size: 4.0rem;
            color: #ffff;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
    }
    &__tlt {
        font-size: 1.9rem;
        font-weight: 700;
        color: #1E1666;
    }
    &__txt {
        margin: 12px 0 10px 0;
        color: #242d4c;
        font-size: 1.7rem;
        line-height: 1.3;
    }
    &__btn {
        padding: 10px 20px;
        color: #ffff;
        display: block;
        background-color: rgb(216, 47, 47);
        border-radius: 20px;
        border: none;
        font-size: 1.6rem;
        font-weight: 600;
    }
}

// ------------------------------------------------------------*/
.c-box2 {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: 50px;
    }
    &__item {
        margin-bottom: 30px;
        width: 33.33%;
        padding-left: 30px;
    }
    &__inner {
        height: 100%;
        padding: 30px;
        box-shadow: 0px 0px 20px 0px rgb(84 72 163 / 12%);
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    }
    &__icon {
        width: 65px;
        height: 65px;
        margin: 0 auto;
        border: 2px solid red;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-self: center;
        i {
            display: block;
            margin: auto;
            font-size: 3.8rem;
            color: red;
        }
    }
    &__tlt {
        text-align: center;
        margin: 10px;
        font-size: 2.0rem;
        color: #1E1666;
        text-transform: capitalize;
    }
    &__txt {
        font-size: 1.7rem;
    }
}