/*------------------------------------------------------------
other
------------------------------------------------------------*/
.c-box1 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 40px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin-left: -30px;
    @include sp() {
        margin-left: 0;
        padding: 0;
    }
    &__item {
        width: 50%;
        padding-left: 30px;
        @include sp() {
            width: 100%;
            padding: 20px;
        }
        &:first-child {
            padding-right: 20px;
            border-right: 1px solid black;
            @include sp() {
                border-right: 0;
                border-bottom: 1px solid #ccc;
            }
        }
    }
    &__icon {
        width: 65px;
        height: 65px;
        display: flex;
        margin-right: 10px;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        background-color: rgb(216, 47, 47);
        border-radius: 10px;
        i {
            font-size: 4.0rem;
            color: #ffff;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
    }
    &__tlt {
        font-size: 1.9rem;
        font-weight: 700;
        color: #1E1666;
        @include sp() {
            font-size: 1.8rem;
            line-height: 1.2;
        }
    }
    &__txt {
        margin: 12px 0 10px 0;
        color: #242d4c;
        font-size: 1.7rem;
        line-height: 1.3;
        @include sp() {
            font-size: 1.6rem;
            margin-top: 7px;
        }
    }
    &__btn {
        padding: 5px 20px;
        color: #ffff;
        background-color: rgb(216, 47, 47);
        border-radius: 20px;
        border: none;
        font-size: 1.6rem;
        font-weight: 600;
        display: inline-block;
        text-decoration: none;
    }
}

// ------------------------------------------------------------*/
.c-box2 {
    $root:&;
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: 50px;
        @include sp() {
            margin-top: 35px;
            margin-left: 0;
        }
    }
    &__item {
        margin-bottom: 30px;
        width: 33.33%;
        padding-left: 30px;
        @include sp() {
            width: 100%;
            padding-left: 0;
            margin-bottom: 20px;
        }
    }
    &__inner {
        height: 100%;
        padding: 30px;
        box-shadow: 0px 0px 20px 0px rgb(84 72 163 / 12%);
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        @include sp() {
            padding: 30px 20px;
        }
        #{$root}__list--style1 & {
            background-color: #fff;
        }
    }
    &__icon {
        width: 65px;
        height: 65px;
        margin: 0 auto;
        border: 2px solid red;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-self: center;
        i {
            display: block;
            margin: auto;
            font-size: 3.8rem;
            color: red;
        }
        #{$root}__list--style1 & {
            width: auto;
            height: auto;
            border: none;
            font-size: 3.0rem;
            font-weight: bold;
            background: linear-gradient(to right, #E93154 0%, #FF342D 100%);;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color:transparent;
            text-align: center;
            text-transform: uppercase;
            display: block;
            position: relative;
            margin-bottom: 20px;
            line-height: 1.4;
            @include sp() {
                font-size: 2.6rem;
            }
            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: #E93154;
            }
        }
    }
    &__tlt {
        text-align: center;
        margin: 10px;
        font-size: 2.0rem;
        color: #1E1666;
        text-transform: capitalize;
        position: relative;
        @include sp() {
            font-size: 1.8rem;
        }
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: red;
            position: absolute;
            bottom: 0;
            #{$root}__list--style1 & {
                content: normal;
            }
        }
    }
    &__txt {
        font-size: 1.7rem;
        text-align: justify;
        @include sp() {
            font-size: 1.6rem;
        }
    }
}

// ------------------------------------------------------------*/
.c-box3 {
    $root:&;
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-top: 30px;
    }
    &__item {
        width: 33.33%;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    &__content {
        padding: 30px 20px 20px 20px;
        background-color: rgba(7 164 115);
        color: #fff;
        text-align: center;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: 0.3s ease-in-out;
        transform: translate(0px, -100%);

        #{$root}__item--style1 & {
            transform: translate(-100%, 0%);
        }
    }
    &__tlt {
        font-size: 2.0rem;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    &__inner {
        position: relative;
        @include hover() {
            #{$root}__content {
                opacity: 1;
                transform: translate(0px, 0%);
            }
        }
    }
    &__txt {
        font-size: 1.7rem;
        line-height: 1.5;
    }
    figure {
        position: relative;
        display: block;
        cursor: pointer;

        // height: 250px;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .slick-dots {
        li {
            margin: 0;
        }
        li button {
            padding: 0;
            &:before {
                font-size: 12px;
            }
        }
    }
}

// ------------------------------------------------------------*/
.c-box4 {
    &__content {
        margin-top: 40px;
        margin-left: -20px;
        display: flex;
        flex-wrap: wrap;
        color: #fff;
        @include sp() {
            margin-left: 0;
            margin-top: 20px;
        }
    }
    &__item {
        width: 25%;
        padding-left: 20px;
        @include sp() {
            width: 100%;
            padding-left: 0;
            margin-bottom: 20px;
        }
    }
    &__inner {
        background-color: #FFFFFF26;
        border-radius: 15px;
        padding: 40px 20px;
        transition: 0.2s;
        @include hover() {
            transform: translateY(-10px);
        }
    }
    &__icon {
        margin: auto;
        text-align: center;
        i {
            font-size: 5.0rem;
        }
    }
    &__tlt {
        text-align: center;
        font-size: 2.0rem;
        margin: 10px 0 20px 0;
        text-transform: capitalize;
        position: relative;
        @include sp() {
            font-size: 1.8rem;
        }
        &:after {
            content: "";
            display: block;
            height: 1px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            width: 100%;
            background-color: #fff;
        }
    }
    &__txt {
        line-height: 1.3;
        font-size: 1.7rem;
        @include sp() {
            font-size: 1.6rem;
        }
    }
}

// ------------------------------------------------------------*/
.c-box5 {
    margin-top: 70px;
    background-color: #fff;
    padding: 40px 10px;
    border-radius: 20px;
    @include sp() {
        margin-top: 20px;
        padding: 20px 10px;
    }
    &__content {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        @include sp() {
            margin-top: 15px;
        }
    }
    &__item {
        width: 20%;
        padding: 0 10px;
    }
}

// ------------------------------------------------------------*/
.c-box6 {
    $root:&;
    max-width: 3000px;
    width: 100%;
    margin: auto;
    .c-title2 {
        @include sp() {
            padding: 0 20px;
        }
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        @include sp() {
            margin-top: 20px;
        }
    }
    &__item {
        width: 50%;
        @include sp() {
            width: 100%;
        }
        figure {
            display: flex;
            height: 100%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &--style1 {
            figure {
                height: 570px;
                @include sp() {
                    height: 330px;
                }
            }
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        &__item {
            height: 250px;
            width: 50%;
            @include sp() {
                height: 130px;
            }
        }
    }
    &__img {
        display: block;
        &__item {
            height: 320px;
            @include sp() {
                height: 200px;
            }
        }
    }
}