/*------------------------------------------------------------
other
------------------------------------------------------------*/
.c-box1 {
    $root:&;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 40px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    @include sp() {
        margin-left: 0;
        padding: 0;
    }
    &__item {
        width: 50%;
        padding-left: 30px;
        @include sp() {
            width: 100%;
            padding: 20px;
        }
        &:first-child {
            padding-right: 20px;
            border-right: 1px solid #ccc;
            @include sp() {
                border-right: 0;
                border-bottom: 1px solid #ccc;
            }
        }
    }
    &__icon {
        width: 65px;
        height: 65px;
        display: flex;
        margin-right: 10px;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        background-color: #25D366;
        border-radius: 10px;
        i {
            font-size: 4.0rem;
            color: #ffff;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
    }
    &__tlt {
        font-size: 1.9rem;
        font-weight: 700;
        color: #1E1666;
        @include sp() {
            font-size: 1.8rem;
            line-height: 1.2;
        }
    }
    &__txt {
        margin: 12px 0 10px 0;
        color: #242d4c;
        font-size: 1.7rem;
        line-height: 1.3;
        @include sp() {
            font-size: 1.6rem;
            margin-top: 7px;
        }
    }
    &__btn {
        padding: 5px 20px;
        color: #ffff;
        background-color: #25D366;
        border-radius: 20px;
        border: none;
        font-size: 1.6rem;
        font-weight: 600;
        display: inline-block;
        text-decoration: none;
        position: relative;
        &:before {
            position: absolute;
            top: 0;
            left: -75%;
            z-index: 2;
            display: block;
            content: '';
            width: 50%;
            height: 100%;
            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
            transform: skewX(-25deg);
        }
        @include hover() {
            opacity: 1;
            &:before {
                animation: shine .75s;
            }
            @-webkit-keyframes shine {
                100% {
                    left: 125%;
                }
            }
            @keyframes shine {
                100% {
                    left: 125%;
                }
            }
        }
    }
}

// ------------------------------------------------------------*/
.c-box2 {
    $root:&;
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: 50px;
        @include max-w(850px) {
            margin-left: -20px;
        }
        @include sp() {
            margin-top: 35px;
            margin-left: 0;
        }
    }
    &__item {
        margin-bottom: 30px;
        width: 33.33%;
        padding-left: 30px;
        @include max-w(850px) {
            padding-left: 20px;
        }
        @include sp() {
            width: 100%;
            padding-left: 0;
            margin-bottom: 20px;
        }
    }
    &__inner {
        height: 100%;
        padding: 30px;
        box-shadow: 0px 0px 20px 0px rgb(84 72 163 / 12%);
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        @include sp() {
            padding: 30px 20px;
        }
        #{$root}__list--style1 & {
            background-color: #fff;
        }
    }
    &__icon {
        width: 65px;
        height: 65px;
        margin: 0 auto;
        border: 2px solid red;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-self: center;
        i {
            display: block;
            margin: auto;
            font-size: 3.8rem;
            color: red;
        }
        #{$root}__list--style1 & {
            width: auto;
            height: auto;
            border: none;
            font-size: 3.0rem;
            font-weight: bold;
            background: linear-gradient(to right, #E93154 0%, #FF342D 100%);;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color:transparent;
            text-align: center;
            text-transform: uppercase;
            display: block;
            position: relative;
            margin-bottom: 20px;
            line-height: 1.4;
            @include sp() {
                font-size: 2.6rem;
            }
            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: #E93154;
            }
        }
    }
    &__tlt {
        text-align: center;
        margin: 10px;
        font-size: 2.0rem;
        color: #1E1666;
        text-transform: capitalize;
        position: relative;
        @include sp() {
            font-size: 1.8rem;
        }
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: red;
            position: absolute;
            bottom: 0;
            #{$root}__list--style1 & {
                content: normal;
            }
        }
    }
    &__txt {
        font-size: 1.7rem;
        text-align: justify;
        @include sp() {
            font-size: 1.6rem;
        }
    }
}

// ------------------------------------------------------------*/
.c-box3 {
    $root:&;
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-top: 30px;
    }
    &__item {
        width: 33.33%;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    &__content {
        padding: 30px 20px 20px 20px;
        background-color: rgba(7 164 115);
        color: #fff;
        text-align: center;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: 0.3s ease-in-out;
        transform: translate(0px, -100%);

        #{$root}__item--style1 & {
            transform: translate(-100%, 0%);
        }
    }
    &__tlt {
        font-size: 2.0rem;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    &__inner {
        position: relative;
        @include hover() {
            #{$root}__content {
                opacity: 1;
                transform: translate(0px, 0%);
            }
        }
    }
    &__txt {
        font-size: 1.7rem;
        line-height: 1.5;
    }
    figure {
        position: relative;
        display: block;
        cursor: pointer;

        // height: 250px;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .slick-dots {
        li {
            margin: 0;
        }
        li button {
            padding: 0;
            &:before {
                font-size: 12px;
            }
        }
    }
}

// ------------------------------------------------------------*/
.c-box4 {
    &__content {
        margin-top: 40px;
        margin-left: -20px;
        display: flex;
        flex-wrap: wrap;
        color: #fff;
        @include sp() {
            margin-left: 0;
            margin-top: 20px;
        }
    }
    &__item {
        width: 25%;
        padding-left: 20px;
        @include sp() {
            width: 100%;
            padding-left: 0;
            margin-bottom: 20px;
        }
    }
    &__inner {
        background-color: #FFFFFF26;
        border-radius: 15px;
        padding: 40px 20px;
        transition: 0.2s;
        @include hover() {
            transform: translateY(-10px);
        }
    }
    &__icon {
        margin: auto;
        text-align: center;
        i {
            font-size: 5.0rem;
        }
    }
    &__tlt {
        text-align: center;
        font-size: 2.0rem;
        margin: 10px 0 20px 0;
        text-transform: capitalize;
        position: relative;
        @include sp() {
            font-size: 1.8rem;
        }
        &:after {
            content: "";
            display: block;
            height: 1px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            width: 100%;
            background-color: #fff;
        }
    }
    &__txt {
        line-height: 1.5;
        font-size: 1.7rem;
        @include sp() {
            font-size: 1.6rem;
        }
    }
}

// ------------------------------------------------------------*/
.c-box5 {
    margin-top: 70px;
    background-color: #fff;
    padding: 40px 10px;
    border-radius: 20px;
    @include sp() {
        margin-top: 20px;
        padding: 20px 10px;
    }
    &__content {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        @include sp() {
            margin-top: 15px;
        }
    }
    &__item {
        width: 20%;
        padding: 0 10px;
    }
}

// ------------------------------------------------------------*/
.c-box6 {
    $root:&;
    max-width: 3000px;
    width: 100%;
    margin: auto;
    .c-title2 {
        @include sp() {
            padding: 0 20px;
        }
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        @include sp() {
            margin-top: 20px;
        }
    }
    &__item {
        width: 50%;
        @include sp() {
            width: 100%;
        }
        figure {
            display: flex;
            height: 100%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &--style1 {
            figure {
                height: 570px;
                @include sp() {
                    height: 330px;
                }
            }
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        &__item {
            height: 250px;
            width: 50%;
            @include sp() {
                height: 130px;
            }
        }
    }
    &__img {
        display: block;
        &__item {
            height: 320px;
            @include sp() {
                height: 200px;
            }
        }
    }
}

.c-box7 {
    background: url(/images/banner-bg.webp) no-repeat center center;
    background-size: cover;
    height: 200px;
    &__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__tlt {
        color: #fff;
        text-transform: uppercase;
        font-size: 2.2rem;
        margin-bottom: 10px;
        text-align: left;
    }
    &__link {
        display: inline-block;
        color: #fff;
        text-transform: capitalize;
        padding-right: 25px;
        position: relative;
        &::before, &::after {
            content: "";
            width: 12px;
            height: 1px;
            background-color: #fff;
            position: absolute;
            right: 0;
        }
        &::before {
            transform: translate(-50%,-50%) rotate(29deg);
            top: 45%;
        }
        &::after {
            transform: translate(-50%,-50%) rotate(-29deg);
            top: 66%;
        }
    }
    &__item {
        font-size: 1.7rem;
    font-weight: 600;
    }
    &__txt {
        color: #fff;
        text-transform: capitalize;
    }
    .l-container {
        height: 100%;
    }
}

.c-box8 {
    $root:&;
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    flex-wrap: wrap;
    @include sp() {
        flex-direction: column-reverse;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    &__wrap {
        margin-top: 50px;
        @include sp() {
            margin-top: 30px;
        }
    }
    &__item {
        width: 50%;
        @include sp() {
            width: 100%;
        }
        &:first-child {
            padding-right: 30px;
        }
        &:last-child {
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            @include sp() {
                margin-bottom: 50px;
            }
        }
    }
    &__tlt {
        font-size: 3.0rem;
        color: #1E1666;
        text-transform: capitalize;
        margin-bottom: 20px;
        position: relative;
        font-weight: bold;
        @include sp() {
            font-size: 2.5rem;
        }
        &::before {
            content: "";
            display: block;
            width: 50px;
            height: 4px;
            background-color: red;
            position: absolute;
            bottom: -5px;
            left: 0;
        }
    }
    &__txt {
        font-size: 1.6rem;
    }
    &__socialIcons {
        display: flex;
        a {
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-decoration: none;

            &:first-child {
                background-color: #0a7eec;
            }
            &:last-child {
                background-color: green;
            }
        }
        i {
            font-size: 2.0rem;
            color: #fff;
        }
    }
    &__address {
        display: flex;
        flex-direction: column;
        &__text {
            font-size: 1.6rem;
            padding-left: 20px;
            @include sp() {
                padding-left: 15px;
            }
            &:first-child {
                margin-bottom: 10px;
            }
        }
        &__item {
            display: flex;
            margin-bottom: 20px;
            align-items: center;
            @include sp() {
                margin-bottom: 10px;
            }
            figure {
                width: 40px;
                height: 40px;
                display: flex;
                flex-shrink: 0;
            }
        }
        &__style1 {
            display: flex;
            flex-direction: column;
        }
    }
    &__form {
        padding: 30px;
        @include sp() {
            padding: 15px;
        }
        &__tlt {
            margin-bottom: 30px;
            font-size: 2.5rem;
            color: #1E1666;
            text-align: center;
            text-transform: capitalize;
            position: relative;
            @include sp() {
                font-size: 2.2rem;
            }
            &::after {
                content: "";
                display: block;
                width: 70%;
                background-color: #1E1666;
                height: 1px;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }
    &__input {
        margin-bottom: 15px;
        position: relative;
        input {
            border: 1px solid #6b6a7b;
            padding: 10px 20px;
            border-radius: 5px;
            line-height: 1.5;
            display: block;
            width: 100%;
            box-sizing: border-box;
            font-size: 1.6rem;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance:textfield;
        }
        select {
            border: 1px solid #6b6a7b;
            border-radius: 5px;
            display: block;
            padding: 10px 20px;
            width: 100%;
            font-size: 1.6rem;
        }
    }
    &__btn {
        cursor: pointer;
        border-radius: 30px;
        border: none;
        font-size: 1.6rem;
        padding: 13px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        background: linear-gradient(to right, #0e84ee 0%, #19abd9 100%);
        color: #fff;
        width: 200px;
        @include Noto-Sans();
        @include sp() {
            padding: 6px 10px;
        }
    }
    textarea {
        width: 100%;
        border: 1px solid #6b6a7b;
        border-radius: 5px;
        resize: none;
        margin-bottom: 10px;
        box-sizing: border-box;
        padding: 20px;
    }
    &__icon {
        display: flex;
        margin-top: 20px;
        @include sp() {
            margin-top: 10px;
        }
    }
    &__titleSocial {
        font-size: 1.7rem;
    }
    &__phone {
        color: black;
        text-decoration: none;
    }
    &__message {
        margin-bottom: 10px;
        font-size: 1.6rem;
        line-height: 1.3;
        color: #0e9641;
        font-weight: 600;
        &--error {
            color: red;
        }
    }
    .text-danger {
        color: #dc3545;
    }
    .captcha {
        display: flex;
        align-items: center;
        span {
            display: flex;
            flex-shrink: 0;
        }
        input {
            width: 100%;
            border: 0.4px solid #6b6a7b;
        }
        .btn-refresh {
            margin: 0 5px;
        }
    }
}

.c-box9 {
    &__list {
        margin: 40px 0;
        padding: 30px 0;
        @include sp() {
            margin: 30px 0;
            padding: 20px 0;
        }
    }
    &__tlt {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 10px;
    }
    &__txt {
        font-size: 1.6rem;
        font-weight: 400;
        text-align: justify;
        line-height: 1.5;
    }
    &__item {
        margin-bottom: 40px;
    }
}

.c-box10 {
    height: 300px;
    position: relative;
    &__img {
        height: 100%;
        figure {
            height: 100%;
            display: block;
            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
    }
    &__tlt {
        font-size: 2.8rem;
        font-weight: bold;
        line-height: 1.3;
    }
    &__description {
        font-size: 1.6rem;
        font-style: italic;
        line-height: 1.5;
        margin: 10px 0;
    }
    &__nav {

    }
    &__inner {
        color: #1E1666;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    &__breadcrumb {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.6rem;
        color: black;
        padding: 20px 0px;
        background-color: #fff;
        &__item {
            color: #1E1666;
            padding: 0 30px;
            text-transform: capitalize;
            position: relative;
            font-weight: 700;
            &.is-active {
                &::before, &::after {
                    content: normal;
                }
            }
            &::before, &::after {
                content: "";
                display: block;
                width: 13px;
                background-color: #1E1666;
                height: 2px;
                right: -5px;
                position: absolute;
            }
            &::before {
                bottom: 10px;
                transform: rotate(-25deg);
            }
            &::after {
                top: 10px;
                transform: rotate(25deg);
            }
        }
        a {
            color: #1E1666;
            text-decoration: none;
        }
    }
}

.c-box11 {
    &__content {
        display: flex;
    }
    &__inner {
        flex: 1;
    }
    &__author {
        font-size: 1.6rem;
        color: #1E1666;
        display: flex;
        font-weight: bold;
        span {
            text-transform: capitalize;
            margin-left: 10px;
        }
        &__txt {
            color: #cb2121;
        }
    }
    &__txt {

    }
    &__top {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #1E1666;
        padding: 30px 0;
    }
    &__date {
        display: flex;
        align-items: center;
    }
    &__datePost {
        margin-left: 5px;
        font-weight: bold;
    }
    &__slidebar {
        width: 300px;
        border: 1px solid red;
    }
}

.c-modal {
    // padding: 50px 0;
    display: none;
    position: fixed;
    z-index: 8;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .6);
    @include sp() {
        padding: 20px 0;
    }
    &__close {
        text-align: right;
        position: absolute;
        right: -8px;
        top: -15px;
        border-radius: 50%;
        background: linear-gradient(to right, #E93154 0%, #FF342D 100%);
        color: #fff;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__content {
        position: relative;
        border-radius: 10px;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 100%;
    }
    &__inner {
        display: flex;
        text-align: left;
        @include sp() {
            flex-direction: column-reverse;
        }
    }
    &__list {
        margin-top: 30px;
        @include sp() {
            margin-top: 20px;
        }
    }
    &__item {
        margin-bottom: 15px;
        @include sp() {
            margin-bottom: 10px;
        }
        input, select {
            font-size: 1.6rem;
            line-height: 1.5;
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding: 5px 15px;
            border: 1px solid #6b6a7b;
            border-radius: 3px;
            @include sp() {
                padding: 5px 10px;
            }
        }
    }
    &__tlt {
        font-size: 2.5rem;
        text-transform: capitalize;
        text-align: center;
        @include sp() {
            font-size: 2.3rem;
        }
        &__sub {
            text-align: center;
        }
    }
    &__txt {
        font-size: 1.6rem;
        font-weight: 600;
    }
    &__btn {
        @include Noto-Sans();
        font-size: 1.6rem;
        line-height: 1.5;
        display: block;
        border: none;
        background: linear-gradient(to right, #E93154 0%, #FF342D 100%);
        color: #fff;
        padding: 10px 30px;
        border-radius: 30px;
        font-weight: 700;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include sp() {
            padding: 8px 20px;
        }
    }
    form {
        width: 40%;
        padding-right: 30px;
        @include sp() {
            width: 100%;
            padding-right: 0;
        }
    }
    figure {
        overflow: hidden;
        width: 60%;
        @include sp() {
            width: 100%;
            margin-bottom: 30px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
   
    button[disabled=disabled], button:disabled {
        background: #ccc;
    }
    .captcha {
        display: flex;
        align-items: center;
        input {
            width: 100%;
            border: 0.4px solid #6b6a7b;
        }
        .btn-refresh {
            margin: 0 5px;
        }
        span {
            display: flex;
            flex-shrink: 0;
        }
    }
    .error_msg {
        color: #E93154;
    }
}
.loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    display: block;
    margin-left: 30px;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.c-box13 {
    &__inner {
        background: url('/images/background.webp') center no-repeat;
        padding-top: 80px;
        padding-bottom: 30px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #042433;
            background: linear-gradient(90deg, rgb(8 15 43) 0%, rgb(35 93 149) 45%, rgb(15 38 66) 100%);
            opacity: .85;
        }
    }
    &__tlt {
        text-align: center;
        color: #fff;
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.5;
        letter-spacing: 0.5px;
    }
}

.c-box14 {
    position: fixed;
    right: 30px;
    bottom: 140px;
    cursor: pointer;
    &__inner {
        border-radius: 5px;
        padding: 10px 15px;
        background: linear-gradient(105deg, #6e99e6, #093c94);
        color: #fff;
    } 
}